/* Webfont: Inclusionukr-Regular */@font-face {
    font-family: 'Inclusion.ukr';
    src: url('Inclusion.ukr.eot'); /* IE9 Compat Modes */
    src: url('Inclusion.ukr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Inclusion.ukr.woff') format('woff'), /* Modern Browsers */
         url('Inclusion.ukr.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
