/* Webfont: inclusionUKR-Regular */@font-face {
    font-family: 'inclusionUKR';
    src: url('inclusion.ukr.eot'); /* IE9 Compat Modes */
    src: url('inclusion.ukr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('inclusion.ukr.woff') format('woff'), /* Modern Browsers */
         url('inclusion.ukr.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

