/* Webfont: InclusionUKR-Regular */@font-face {
    font-family: 'InclusionUKR';
    src: url('inclusion.ukr-regular.woff2') format('woff2'), /* Modern Browsers */
         url('inclusion.ukr-regular.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
